@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .colorSliding {
    box-shadow: inset 300px 0 0 0 #f9b248;
    -webkit-transition: ease-out 5s;
    -moz-transition: ease-out 5s;
    transition: transform 5s ease-out;
    animation-name: slider;
    animation-duration: 5s;
  }

  @keyframes slider {
    0% {
      box-shadow: inset 0 0 0 0 #f9b248;
    }
    100% {
      box-shadow: inset 300px 0 0 0 #f9b248;
    }
  }

  .logoRotate {
    -webkit-transition: ease-in 1s;
    -moz-transition: ease-in 1s;
    transition: 1s ease-in;
    animation-name: rotater;
    animation-duration: 1s;
  }

  @keyframes rotater {
    100% {
      transform: rotate(360deg);
    }
  }

  .slider {
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  .slider::before,
  .slider::after {
    background: -webkit-gradient(linear, left top, right top, from(#fbfbfb), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, #fbfbfb 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
    display: -webkit-box;
    display: flex;
    width: calc(250px * 6);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateX(calc(-250px * 6));
      transform: translateX(calc(-250px * 6));
    }
    100% {
      -webkit-transform: translateX(calc(250px * 6));
      transform: translateX(calc(250px * 6));
    }
  }

  .img-bg {
    background-image: url("../public/images/simple-black-cross-repeat-pattern-.jpg");
  }
}
